
<form method="POST" action="/edit/<%= preference.studID %>/<%= preference.Pnum %>">
    
    <p><%= preference.Pnum  %></p>
    <input type="text" placeholder="univID" name="univ">
    <input type="text" placeholder="courseID" name="course">
    <button>submit</button>
</form>